.imagenLading{
  width: 95%;
}
.imagenPrincipal{
    padding-top: 40px;
    padding-left: 5%;
    padding-bottom: 50px;
}
.titulo {
   padding-top: 100px;
    left: 36%;
    display: flex;
    width: 550px;
    height: 200px;
    position: relative;
    
    
  }
  
  .titulo > div > h1 {
    font-size: 55px;
  }
  
  .calendario {
 padding-top: 120px;
 padding-right: 20px;
  }
  .contenido{
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
    padding-bottom: 200px;
    
  }
  .content{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.516);
    padding: 100px;
    text-align: justify;
  }
  .content>ul>li{
    padding-bottom: 60px;
  }
  .acomodarFotos{
    padding-top: 50px;
display: flex;
justify-content: space-between;

  }
  .fotos{ 
    width: 600px;
    height: 550px;
  }
  .ubicacion{ 
    padding-top: 30px; 
    width: 300px;
    height: 200px;
  }
  .content1{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.516);
    padding-left: 80px;
    text-align: justify;
    list-style: disc;
  }
  .content1>li{
    padding-top: 10px;

  }